@using SAMPortal.Models
@model NewCrewRegistrationViewModel

@{
    ViewBag.Title = "NewCrewRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="col-lg-12">
    <div class="box box-solid">
        <div id="new_crew_registration" class="box-body">
            <br />
            @*@using (Html.BeginForm("ISaveNewCrew", "Api/Dashboard", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                {*@
            <form>
                <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">

                    <div class="col-xs-12 col-sm-6">
                        <label for="first_name" class="control-label">First Name<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="position" class="control-label">Rank<span class="mandatory">*</span></label>
                        @Html.DropDownListFor(m => m.Position, new SelectList(Model.Ranks, "crewrank", "rankdesc"), "Select Rank", htmlAttributes: new { @class = "form-control", Id = "position" })
                    </div>

                </div>

                <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="last_name" class="control-label">Last Name<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="birth_place" class="control-label">Birth Place<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(m => m.BirthPlace, new { @class = "form-control", @placeholder = "Birth Place" })
                    </div>
                </div>
                <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="middle_name" class="control-label">Middle Initial</label>
                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @placeholder = "Middle Initial" })
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="birthday" class="control-label">Birthday<span class="mandatory">*</span></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @placeholder = "mm/dd/yyyy", Id = "datepicker" })
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6" style="padding-left: 0px; padding-right: 0px;">
                    <div class="col-xs-12 form-group">
                        <label class="control-label">Image input <span style="font-weight:lighter; color: #ccc">(Optional)</span></label>
                        <div class="col-xs-12" style="padding: 0px;">
                            <input type="button" id="choose_image_input" class="btn btn-default" value="Choose..." onclick="document.getElementById('InputFile').click()">
                            <input type="file" id="InputFile" style="display: none;">
                            <span id="inputFilename"></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6" style="padding-left: 0px; padding-right: 0px;">
                    <div class="col-xs-12 form-group" id="check_for_duplicate_div">
                        @*<label for="verify" class="control-label"></label>*@
                        <div class="col-xs-12" style="padding: 0px;">
                            <input type="button" class="btn btn-default pull-right" id="submit_request_btn" value="Submit" />
                        </div>
                    </div>
                    @*<div class="col-xs-12 col-sm-6 form-group" id="submit_new_crew_request_div" hidden>
                            <div class="col-xs-12" style="padding: 0px;">
                                <button style="" type="button" id="submit_new_crew_request" class="btn btn-default">Submit</button>
                            </div>
                        </div>*@
                </div>

                <div class="col-xs-12 form-group">
                    <input type="text" id="output" hidden>
                </div>
            </form>
            @* } *@
            <div class="col-xs-12">
                <span class="mandatory" style="font-size: smaller; font-style:italic;">Fields marked with * are required</span>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success fade" id="modal-success">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_close_btn" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal-warning">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p>Please make sure that the data you enter in the fields are correct then try again, or you may contact Sales and Marketing for support.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal_warning_request">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="modal_warning_request_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog" class="alert alert-info alert-dismissible" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-info"></i> Notice</h4>
    <p>Please put your name suffixes (Jr., Sr., III and etc.) here in the First Name field.</p>
</div>
@*****************************************************Course Booking********************************************************************@
<div class="col-xs-12">
    <div class="box box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Your Courses</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: none">
            <div class="col-xs-12">
                <div class="col-xs-4 form-group">
                    <label>Month</label>
                    &nbsp;
                    &nbsp;
                    <span>
                        (
                        <input style="vertical-align: top;" type="radio" id="date_rb_single" name="date_rb" value="single_date" checked>
                        <label for="o_date_rb" style="font-weight: normal !important;">Single</label>
                        &nbsp;
                        <input style="vertical-align: top;" type="radio" id="date_rb_range" name="date_rb" value="multiple_date">
                        <label for="o_date_rb" style="font-weight: normal !important;">Range</label>)
                    </span>
                    <div id="single_date_div_yc">
                        <select id="month_select" class="form-control"></select>
                    </div>

                    <div id="multiple_date_div_yc" style="display: none">
                        <span>
                            <select id="month_select_yc_from" class="form-control"></select>
                            -
                            <select id="month_select_yc_to" class="form-control"></select>
                        </span>
                    </div>

                </div>
                <div class="col-xs-4 form-group">
                    <label>Year</label>
                    <input id="year_input" type="text" placeholder="Type Year here" class="form-control" />
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-12" style="height: 25px"></div> @*to align the button*@
                    <input type="button" id="submit_month_year" class="btn btn-default" value="Submit" />
                </div>
            </div>
            <span class="col-xs-12" style="font-size: x-small">Note: Current Month and Year is loaded by default</span>
            <div class="col-xs-12">
                <hr />
            </div>
            <br />
            <table id="course_list_tbl" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Min. Enrollees</th>
                        <th>Duration (Days)</th>
                        <th>Start Date</th>
                        <th>Enrolled</th>
                        <th>Enroll</th>
                    </tr>
                </thead>
                <tbody id="course_list_tbl_tbody"></tbody>
            </table>

        </div>
    </div>
    <div class="box box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Other Published Courses</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body" style="display: none">
            <div class="col-xs-12">
                <div class="col-xs-4 form-group">
                    @*<label>Month</label>
                        <select id="o_month_select" class="form-control"></select>*@
                    <label>Month</label>
                    &nbsp;
                    &nbsp;
                    <span>
                        (
                        <input style="vertical-align: top;" type="radio" id="o_date_rb_single" name="o_date_rb" value="o_single_date" checked>
                        <label for="o_date_rb" style="font-weight: normal !important;">Single</label>
                        &nbsp;
                        <input style="vertical-align: top;" type="radio" id="o_date_rb_range" name="o_date_rb" value="o_multiple_date">
                        <label for="o_date_rb" style="font-weight: normal !important;">Range</label>)
                    </span>
                    <div id="o_single_date_div_yc">
                        <select id="o_month_select" class="form-control"></select>
                    </div>

                    <div id="o_multiple_date_div_yc" style="display: none">
                        <span>
                            <select id="o_month_select_yc_from" class="form-control"></select>
                            -
                            <select id="o_month_select_yc_to" class="form-control"></select>
                        </span>
                    </div>

                </div>
                <div class="col-xs-4 form-group">
                    <label>Year</label>
                    <input id="o_year_input" type="text" placeholder="Type Year here" class="form-control" />
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-12" style="height: 25px"></div> @*to align the button*@
                    <input type="button" id="o_submit_month_year" class="btn btn-default" value="Submit" />
                </div>
            </div>
            <span class="col-xs-12" style="font-size: x-small">Note: Current Month and Year is loaded by default</span>
            <div class="col-xs-12">
                <hr />
            </div>
            <br />
            <table id="o_course_list_tbl" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 50%">Course</th>
                        <th>Min. Enrollees</th>
                        <th>Duration (Days)</th>
                        <th>Start Date</th>
                        <th>Enrolled</th>
                        <th>Enroll</th>
                    </tr>
                </thead>
                <tbody id="o_course_list_tbl_tbody"></tbody>
            </table>

        </div>
    </div>
</div>
@*****************************************************On Site Accommodation********************************************************************@
<div class="col-lg-6 col-sm-12" id="left_box">
    <div class="box box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title col-xs-12">On-Site Booking</h3>
            <div class="box-tools pull-right">
                <button type="button" id="view_rates_btn" class="btn btn-primary" style="margin-right: 15px">View Rates and Inclusions</button>
                <buton typeof="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></buton>
            </div>
        </div>
        <div id="accomodation" class="box-body" style="display: none;">
            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="reservation_type" class="control-label">Type</label>
                    <select id="reservation_type" class="form-control">
                        <option></option>
                        <option value="1">
                            New Booking
                        </option>
                        @*<option value="2">
                                Extension
                            </option>*@
                    </select>
                </div>
            </div>
            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="room_type" class="control-label">Room</label>
                    <select id="room_type" class="form-control">
                        <option></option>
                        <option value="1">
                            Dorm - Standard
                        </option>
                        <option value="2">
                            Dorm - Superior
                        </option>
                        <option value="3">
                            Hotel - Single
                        </option>
                        <option value="4">
                            Hotel - Double
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12 col-md-12 col-lg-6">
                    <label for="accomodation_date" class="control-label">Date</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="accomodation_date">
                    </div>

                </div>
                &nbsp;
                <p style="padding-top: 5px;" class="col-xs-12 col-md-12 col-lg-6 control-label">Check in time is 13:00; Check out time is 12:00</p>
            </div>

            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12 col-sm-12">
                    <label for="mode_of_payment" class="control-label">Payment</label>

                    <select id="mode_of_payment" class="form-control">
                        <option></option>
                        <option value="0">
                            Company Sponsored
                        </option>
                        <option value="1">
                            Personal Account
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <label for="reason" class="control-label">Reason</label>
                    <select id="accomodation_reason" class="form-control">
                        <option></option>
                        @*<option value="2">
                                Due to Crew Change
                            </option>*@
                        <option value="@System.Configuration.ConfigurationManager.AppSettings["accomodation_reason_value1"]">
                            @System.Configuration.ConfigurationManager.AppSettings["accomodation_reason_text1"]
                        </option>
                        <option value="@System.Configuration.ConfigurationManager.AppSettings["accomodation_reason_value2"]">
                            @System.Configuration.ConfigurationManager.AppSettings["accomodation_reason_text2"]
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="accomodation_remarks" class="control-label">Remarks</label>
                    <input id="accomodation_remarks_input" type="text" class="form-control" style="border-radius: 3px;" placeholder="Required" />
                </div>
            </div>
            <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="form-group col-sm-12">
                    <button type="button" id="submit_in_house_booking" class="btn btn-default pull-right">Submit</button>
                    <button type="button" id="clear_in_house_booking" class="btn btn-default pull-right" style="margin-right: 10px;">Clear</button>
                </div>
            </div>
        </div>
    </div>

    @**********************************************************Transportation*****************************************************************@
    <div class="box box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title col-xs-12">Transportation Arrangement</h3>
            <div class="box-tools pull-right">
                <button type="button" id="transportation_rates_btn" class="btn btn-primary" style="margin-right: 15px;">Rates</button>
                <buton typeof="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></buton>
            </div>
        </div>
        <div id="transportation" class="box-body" style="display: none;">
            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="transportation_type" class="control-label">Type</label>
                    <select id="transportation_type" class="form-control">
                        <option></option>
                        @for (var i = 0; i < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["typeOfArrangementLength"]); i++)
                        {
                            <option value="@System.Configuration.ConfigurationManager.AppSettings["arrangement" + (i + 1)]">
                                @System.Configuration.ConfigurationManager.AppSettings["arrangement" + (i + 1)]
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="transportation_name" class="control-label">Vehicle</label>
                    <select id="transportation_vehicle" class="form-control">
                        <option></option>
                        @for (var i = 0; i < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["numberOfVehicles"]); i++)
                        {
                            <option value="@System.Configuration.ConfigurationManager.AppSettings["vehicle" + (i + 1)]">
                                @System.Configuration.ConfigurationManager.AppSettings["vehicle" + (i + 1)]
                            </option>
                        }
                    </select>
                </div>
            </div>


            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="transportation_date" class="control-label">Date</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="transportation_date">
                    </div>

                </div>
            </div>
            <div class="daily_transfer col-xs-12 col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label for="transportation_destination" class="control-label">Daily Transfer</label>
                    </div>
                    <div class="col-xs-12">
                        <label class="radio-inline"><input type="radio" name="dt_optradio" id="dt_optradio_1" value="1">One Trip</label>
                    </div>
                    <div class="col-xs-12">
                        <label class="radio-inline"><input type="radio" name="dt_optradio" id="dt_optradio_2" value="2">Two Trips (Vice Versa)</label>
                    </div>

                </div>
            </div>
            <div class="airport_transfer col-xs-12 col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="transportation_destination" class="control-label">Airport Transfer</label>
                    <div class="col-xs-12 checkbox">
                        <label class="col-xs-6">
                            <input id="airport_cb_i" value="1" type="checkbox">
                            Inbound
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox">
                        <label class="col-xs-6">
                            <input id="airport_cb_o" value="2" type="checkbox">
                            Outbound
                        </label>
                    </div>
                </div>
            </div>

            <div class="airport_transfer col-xs-12 col-lg-6 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="InputFile" class="control-label">Attach Flight Details</label>
                    <div class="col-xs-12 form-control">
                        <input type="file" id="InputFileTransportation">
                    </div>
                </div>
                <input type="text" id="outputTransportation" hidden>
            </div>

            <div class="col-xs-12 col-lg-12 form-group one_trip_details" style="padding-left: 0px; padding-right: 0px;">
                <label for="transportation_name" class="col-md-12 control-label">Details</label>
                <div class="col-xs-12 col-md-12 col-lg-12 ">
                    <input id="pickup_input" type="text" class="form-group form-control" placeholder="Pick Up Point" style="border-radius: 3px;" />
                    <input id="datetime_input" type="text" class="form-group form-control" placeholder="Pick Up Date and Time" style="border-radius: 3px;" />
                    <input id="dropoff_input" type="text" class="form-group form-control" placeholder="Drop Off Point" style="border-radius: 3px;" />
                </div>
            </div>
            <div class="col-xs-12 col-lg-12 form-group two_trip_details" style="padding-left: 0px; padding-right: 0px;">
                <label for="transportation_name" class="col-md-12 control-label">Details</label>

                <div class="col-xs-12 col-md-12 col-lg-12 ">
                    <input id="2ndpickup_input" type="text" class="form-group form-control" placeholder="2nd Pick Up Point" style="border-radius: 3px;" />
                    <input id="2nddatetime_input" type="text" class="form-group form-control" placeholder="2nd Pick Up Date and Time" style="border-radius: 3px;" />
                    <input id="2nddropoff_input" type="text" class="form-group form-control" placeholder="2nd Drop Off Point" style="border-radius: 3px;" />
                </div>
            </div>

            <div class="col-xs-12 form-group" style="display:inline-block; padding-left: 0px; padding-right: 0px;">
                <label for="transportation_details" class="col-md-2 control-label">Remarks</label>
                <textarea class="form-control" rows="5" id="transportation_details"></textarea>
            </div>
            <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="form-group col-sm-12">
                    <button type="button" id="submit_transportation" class="btn btn-default pull-right">Submit</button>
                    <button type="button" id="clear_transportation" class="btn btn-default pull-right" style="margin-right: 10px;">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*****************************************************Off Site Accommodation*********************************************************@
<div class="col-lg-6 col-sm-12" id="right_box">
    <div class="box box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title col-xs-12">Off-Site Booking</h3>
            <div class="box-tools pull-right">
                <button type="button" id="off_site_rates_and_inclusions_btn" class="btn btn-primary" style="margin-right: 15px">View Rates and Inclusions</button>
                <buton typeof="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></buton>
            </div>
        </div>
        <div id="off_site_accomodation" class="box-body" style="display: none">
            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="off_site_hotel" class=" control-label">Hotel</label>
                    <select id="off_site_hotel_name" class="form-control">
                        <option></option>
                        @for (var i = 0; i < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["numberOfHotels"]); i++)
                        {
                            <option value="@System.Configuration.ConfigurationManager.AppSettings["hotel" + (i + 1)]">
                                @System.Configuration.ConfigurationManager.AppSettings["hotel" + (i + 1)]
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="off_site_room_type" class="control-label">Room</label>
                    <select id="off_site_room_type" class="form-control">
                        <option></option>
                        <option value="1">
                            Single (deluxe room)
                        </option>
                        <option value="2">
                            Double (deluxe room)
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12 col-sm-12">
                    <label for="off_site_date" class="control-label">Date</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="off_site_date">
                    </div>

                </div>
                @*&nbsp;*@
                @*<p style="padding-top: 5px;" class="col-xs-12 col-md-12 col-lg-6 control-label">Check in time is 13:00; Check out time is 12:00</p>*@
            </div>

            <div class="col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12 col-sm-12">
                    <label for="off_site_mode_of_payment" class="control-label">Payment</label>
                    <select id="off_site_mode_of_payment" class="form-control">
                        <option></option>
                        <option value="0">
                            Company Sponsored
                        </option>
                        <option value="1">
                            Personal Account
                        </option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-12">
                    <label for="off_site_reason" class="control-label">Reason</label>
                    <select id="off_site_reason" class="form-control">
                        <option></option>
                        @*<option value="2">
                                Due to Crew Change
                            </option>*@
                        <option value="12">
                            Accommodation Only
                        </option>
                        <option value="1">
                            With Training
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="off_site_remarks" class="control-label">Remarks</label>
                    <input id="off_site_remarks_input" type="text" class="form-control" style="border-radius: 3px;" placeholder="Required" />
                </div>
            </div>
            <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="form-group col-sm-12">
                    <button type="button" id="submit_out_house_booking" class="btn btn-default pull-right">Submit</button>
                    <button type="button" id="clear_out_house_booking" class="btn btn-default pull-right" style="margin-right: 10px;">Clear</button>
                </div>
            </div>
        </div>
    </div>
    @*****************************************************Meals Arrangement**************************************************************@
    <div class="box box-solid collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title col-xs-12">Meals Arrangement</h3>
            <div class="box-tools pull-right">
                <buton typeof="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></buton>
            </div>
        </div>
        <div id="meals" class="box-body" style="display: none">
            <div class="col-sm-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="meal_provision" class="control-label">Date</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="meal_reservation">
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-lg-12">
                <div class="col-xs-12 checkbox">
                    <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                        <input id="breakfast_cb" type="checkbox" style="margin-top: 0px;">
                        Breakfast
                    </label>

                    <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                        <input id="am_snack_cb" type="checkbox" style="margin-top: 0px;">
                        Morning Snack
                    </label>

                    <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                        <input id="lunch_cb" type="checkbox" style="margin-top: 0px;">
                        Lunch
                    </label>

                    <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                        <input id="pm_snack_cb" type="checkbox" style="margin-top: 0px;">
                        Afternoon Snack
                    </label>

                    <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                        <input id="dinner_cb" type="checkbox" style="margin-top: 0px;">
                        Dinner
                    </label>

                </div>

            </div>
            <div class="form-group col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-xs-12">
                    <label for="mnno" class="control-label">Reason</label>
                    <input id="reason_input" type="text" class="form-control" style="border-radius: 3px;" placeholder="Required" />
                </div>
            </div>
            <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="form-group col-sm-12">
                    <button type="button" id="submit_meals_arrangement" class="btn btn-default pull-right">Submit</button>
                    <button type="button" id="clear_meals_arrangement" class="btn btn-default pull-right" style="margin-right: 10px;">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-sm-12" id="footer_box">
    <div class="box box-solid">
        <div class="box-body">
            <div class="col-xs-12 form-group" style="text-align: center;">
                <button style="" type="button" id="submit_new_crew_request" class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rates_and_inclusions_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Rates and Inclusions</h4>
            </div>
            <div class="modal-body">
                <table id="rates_and_inclusion_tbl" class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Room</th>
                            <th rowspan="2">Rate<br />(USD)</th>
                            <th rowspan="2">Location</th>
                            <th colspan="2">Inclusion</th>
                            <th rowspan="2">Reminder</th>
                        </tr>
                        <tr>
                            <th>Meals</th>
                            <th>Others</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a id="single_occupancy_img">Single Occupancy Room</a></td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["singleOccupancyRate"]</td>
                            <td rowspan="2">UMTC Building, 6th floor</td>
                            <td rowspan="2">Breakfast, Lunch and Dinner</td>
                            <td rowspan="2">Toiletries and Batch Towel</td>
                            <td rowspan="2">
                                Please contact the Sales and Marketing Department if you want to book on these rooms.
                                <br /><br />T:  +63 2 981 6682 local 2133, 2141, 2144, 2133
                                <br />E:  marketing@umtc.com.ph
                            </td>
                        </tr>
                        <tr>
                            <td><a id="double_occupancy_img">Double Occupancy Room</a></td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["doubleOccupancyRate"]</td>
                        </tr>
                        <tr>
                            <td rowspan="3"><a id="standard_dormitory_img">Standard Dormitory (air-condition room, 4-10 persons in a room)</a></td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["standardDormitory1"]</td>
                            <td rowspan="6">UMTC Dormitory</td>
                            <td colspan="2"> N/A </td>
                            <td rowspan="6">
                                Check-in time: 1300h / Check out time: 1200h
                                <br />
                                Early check-in and late check-out is equivalent to one day room rate.
                                <br />
                                Subject to room availability
                                <br />
                                Note:
                                <br />
                                1. Rate is per pax/day.
                                <br />
                                2. Basic toiletries(one set) and bath towels are available upon request with additional cost.
                            </td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["standardDormitory2"]</td>
                            <td>Lunch</td>
                            <td rowspan="2">N/A</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["standardDormitory3"]</td>
                            <td>Breakfast, Lunch and Dinner</td>
                        </tr>
                        <tr>
                            <td rowspan="3"><a id="superior_dormitory_img">Superior Dormitory (air-conditioned room, 2-4 persons in a room)</a></td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["superiorDormitory1"]</td>
                            <td>N/A</td>
                            <td rowspan="3">Bath Towel Only</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["superiorDormitory2"]</td>
                            <td>Lunch</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["superiorDormitory3"]</td>
                            <td>Breakfast, Lunch and Dinner</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade" id="modal_warning_accommodation_submit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_warning_accommodation_submit_yes" class="btn btn-outline pull-right" data-dismiss="modal">Yes</button>
                <button type="button" id="modal_close_btn" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="room_picture">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <img id="hotel_single_room" class="img img-responsive" src="~/Content/images/hotel_single_room.jpg" style="display: none" alt="Hotel Single Room">
                <img id="hotel_double_room" class="img img-responsive" src="~/Content/images/hotel_double_room.jpg" style="display: none" alt="Hotel Double Room">
                <img id="dorm_standard_room" class="img img-responsive" src="~/Content/images/dorm_standard_room.jpg" style="display: none" alt="Dorm Standard Room">
                <img id="dorm_superior_room" class="img img-responsive" src="~/Content/images/dorm_superior_room.jpg" style="display: none" alt="Dorm Superior Room">
            </div>
        </div>
    </div>
</div>

<div class="modal modal-info fade" id="hotel_single_double_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <p>
                    Please contact our Sales and Marketing department for inquires and/or reservations for Hotel - Single and Hotel - Double:
                    <br />T:  +63 2 981 6682 local 2133, 2141, 2144, 2133
                    <br />E:  marketing@umtc.com.ph

                </p>
            </div>
        </div>
    </div>
</div>

<div id="transportation_rates_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Transportation Rates</h4>
            </div>
            <div class="modal-body">
                <table id="transportation_rates_tbl" class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="3">Vehicle Type</th>
                            <th colspan="3">Destination</th>
                        </tr>
                        <tr>
                            <th colspan="2">Daily Transfer</th>
                            <th>Airport Transfer</th>
                        </tr>
                        <tr>
                            <th>@System.Configuration.ConfigurationManager.AppSettings["destination1"]</th>
                            <th>@System.Configuration.ConfigurationManager.AppSettings["destination2"]</th>
                            <th>@System.Configuration.ConfigurationManager.AppSettings["destination3"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vehicle1"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["carRate1"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["carRate2"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["carRate3"]</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vehicle2"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["miniVanRate1"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["miniVanRate2"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["miniVanRate3"]</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vehicle3"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vanRate1"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vanRate2"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vanRate3"]</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vehicle4"]</td>
                            <td colspan="3">@System.Configuration.ConfigurationManager.AppSettings["coasterBusRate"]</td>
                        </tr>
                    </tbody>
                </table>
                <span>Note: Prices are in U.S. dollars</span>
            </div>
        </div>
    </div>
</div>

<div id="off_site_rates_and_inclusions_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Rates and Inclusions</h4>
            </div>
            <div class="modal-body">
                <table id="off_site_rates_and_inclusion_tbl" class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Hotel</th>
                            <th rowspan="2">Rate</th>
                            <th rowspan="2">Location</th>
                            <th colspan="2">Inclusions</th>
                            <th rowspan="2">Reminder</th>
                        </tr>
                        <tr>
                            <th>Meals</th>
                            <th>Others</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2"><a href="https://www.hoteljen.com/manila/roxasboulevard/about/" target="_blank">Hotel Jen (Deluxe Room)</a></td>
                            <td>
                                @System.Configuration.ConfigurationManager.AppSettings["hotelJenSingle"]
                                (Single)
                            </td>
                            <td rowspan="2">3001 Roxas Boulevard, Pasay City, Manila</td>
                            <td colspan="2" rowspan="4">Buffet Breakfast</td>
                            <td rowspan="4">Subject to Room Availability. Check-in time: 1400h / Check-out time: 1200h</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["hotelJenDouble"] (Double)</td>
                        </tr>
                        <tr>
                            <td rowspan="2"><a href="https://www.diamondhotel.com/" target="_blank">Diamond Hotel (Deluxe Room)</a></td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["diamondHotelSingle"] (Single)</td>
                            <td rowspan="2">Roxas Boulevard cor. Dr. J. Quintos Street, Manila</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["diamondHotelDouble"] (Double)</td>
                        </tr>
                    </tbody>
                </table>
                <p>Note: Billing will be at cost plus 1% handling fee.</p>
            </div>
        </div>
    </div>
</div>

@*<div id="no_duplicates_found_modal" class="modal fade modal-success">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">Success!</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>*@

<div id="check_crew_duplicates_modal" class="modal fade modal-warning">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" @*id="check_crew_duplicates_modal_continue"*@ class="btn btn-outline pull-right" data-dismiss="modal">Ok</button>
                @*<button type="button" id="check_crew_duplicates_modal_cancel" class="btn btn-outline pull-right" data-dismiss="modal">Cancel</button>*@
            </div>
        </div>
    </div>
</div>

@*<div id="check_crew_duplicates_error_modal" class="modal fade modal-danger">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">Oops an error has occured...</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="check_crew_duplicates_error_modal_ok" class="btn btn-outline pull-right" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div id="verify_btn_validation_modal" class="modal fade modal-warning">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">Warning!</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>*@

<div class="modal modal-info fade" id="on_site_booking_info_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <p>
                    Please contact our Sales and Marketing department for inquires and/or reservations for Hotel - Single and Hotel - Double:
                    <br />T:  +63 2 981 6682 local 2133, 2141, 2144, 2133
                    <br />E:  marketing@umtc.com.ph

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default fade" id="update_rank_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Update Rank</h4>
            </div>
            <div class="modal-body">
                <p>
                    @Html.DropDownListFor(m => m.Position, new SelectList(Model.Ranks, "crewrank", "rankdesc"), "Select Rank", htmlAttributes: new { @class = "form-control", Id = "position_update" })
                </p>
            </div>
            <div class="modal-footer">
                <button id="update_rank_modal_save" type="button" class="btn btn-default pull-right" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" style="margin-right: 10px;">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="indicator_red_dialog" class="alert alert-danger alert-dismissible" style="display: none;">
    <button type="button" class="close" @*data-dismiss="alert"*@ aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> Notice</h4>
    <p>Please be informed that this course is going to be cancelled due to insufficient enrollees. <br />Kindly refrain from adding more enrollees in this schedule. <br /></p>
    <br />
    <p>For any inquiries, please email us at marketing@umtc.com.ph or call +63 2 981 6682 local 2128, 2144, 2131, 2133, 2141.</p>
</div>

<div id="indicator_orange_dialog" class="alert alert-warning alert-dismissible" style="display: none;">
    <button type="button" class="close" @*data-dismiss="alert"*@ aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> Notice</h4>
    <p>Please be informed that this course is going to be cancelled if the minimum number of enrollees is not met within the week of the start of this course.<br /></p>
    <br />
    <p>For any inquiries, please email us at marketing@umtc.com.ph or call +63 2 981 6682 local 2128, 2144, 2131, 2133, 2141.</p>
</div>

@section Scripts{
    @*@Scripts.Render("~/bundles/coursebooking")*@
    @Scripts.Render("~/bundles/newcrewregistration")
}
