@*@using SAMPortal.Models
    @model NewCrewRegistrationViewModel*@

@*<div class="callout callout-info">

        <h3><i class="fa fa-suitcase"></i> &nbsp;Accommodation</h3>
    </div>*@

<div class="box box-solid">

    <div id="off_site_accomodation" class="box-body">
        <button type="button" id="off_site_rates_and_inclusions_btn" class="btn btn-primary pull-right"  style="margin-right: 15px">Rates and Inclusions</button>
        <br />
        <div class="col-md-12 col-lg-6 form-group" id="crew_picture" style="text-align: center">
            <img style="display: inline-block" class="img img-responsive" src="~/Content/images/default.jpg" />
        </div>

        <div class="col-lg-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="off_site_mnno" class="control-label">Trainee No.</label>
                <div class="input-group">
                    <input id="mnno_input" placeholder="Click the magnifying glass to search crew" type="text" class="form-control" disabled />
                    <span id="crew_search_btn" class="input-group-btn">
                        <button type="button" name="search" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="off_site_rank" class="control-label">Rank</label>
                <input id="rank_input" type="text" class="form-control" disabled />
            </div>
        </div>
        <div class="col-sm-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="off_site_name" class="control-label">Name</label>
                <input id="name_input" type="text" class="form-control" disabled />
            </div>
        </div>
        <div class="col-sm-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="off_site_hotel" class=" control-label">Hotel</label>
                <select id="off_site_hotel_name" class="form-control">
                    @for (var i = 0; i < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["numberOfHotels"]); i++)
                    {
                        <option value="@System.Configuration.ConfigurationManager.AppSettings["hotel" + (i + 1)]">
                            @System.Configuration.ConfigurationManager.AppSettings["hotel" + (i + 1)]
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="off_site_room_type" class="control-label">Room</label>
                <select id="off_site_room_type" class="form-control">
                    <option value="1">
                        Single (deluxe room)
                    </option>
                    <option value="2">
                        Double (deluxe room)
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12 col-sm-6">
                <label for="off_site_date" class="control-label">Date</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="off_site_date">
                </div>

            </div>
            &nbsp;
            @*<p style="padding-top: 5px;" class="col-xs-12 col-md-12 col-lg-6 control-label">Check in time is 13:00; Check out time is 12:00</p>*@
            <!-- /.input group -->
        </div>

        <div class="col-xs-12 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12 col-sm-6">
                <label for="off_site_mode_of_payment" class="control-label">Payment</label>
                <select id="off_site_mode_of_payment" class="form-control">
                    <option value="0">
                        Company Sponsored
                    </option>
                    <option value="1">
                        Personal Account
                    </option>
                </select>
            </div>

            <div class="col-xs-12 col-sm-6">
                <label for="off_site_reason" class="control-label">Reason</label>
                <select id="off_site_reason" class="form-control">
                    @*<option value="2">
                        Due to Crew Change
                    </option>*@
                    <option value="@System.Configuration.ConfigurationManager.AppSettings["accomodation_reason_value1"]">
                        @System.Configuration.ConfigurationManager.AppSettings["accomodation_reason_text1"]
                    </option>
                    <option value="@System.Configuration.ConfigurationManager.AppSettings["accomodation_reason_value2"]">
                        @System.Configuration.ConfigurationManager.AppSettings["accomodation_reason_text2"]
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="off_site_remarks" class="control-label">Remarks</label>
                <textarea id="off_site_remarks_input" class="form-control" maxlength="250" style="resize: none;"></textarea>
                @*<input id="off_site_remarks_input" type="text" class="form-control" style="border-radius: 3px;" placeholder="Required" />*@
            </div>
        </div>
        <div class="form-group col-sm-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="form-group col-sm-12">
                <span id="off_site_err_msg" style="color: red; display: none">**Fields cannot be left blank</span>
            </div>
            <div class="form-group col-sm-12">
                <button type="button" id="save_off_site_btn" class="btn btn-default pull-right" style="margin-top: 15px;">Submit</button>
            </div>
        </div>
    </div>
</div>

@*<div class="col-sm-12" id="meal_tbl_div">
        <table id="meal_tbl" class="table table-bordered table-striped table-hover col-sm-12">
            <thead>
                <tr>
                    <td colspan="5">Meal Provision Log</td>
                </tr>
                <tr>
                    <td rowspan="2">No</td>
                    <td colspan="2">Meal Date</td>
                    <td rowspan="2">Reason</td>
                    <td rowspan="2">Reference ID</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>To</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>*@


<div id="off_site_rates_and_inclusions_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Rates and Inclusions</h4>
            </div>
            <div class="modal-body">
                <table id="off_site_rates_and_inclusion_tbl" class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Hotel</th>
                            <th rowspan="2">Rate</th>
                            <th rowspan="2">Location</th>
                            <th colspan="2">Inclusions</th>
                            <th rowspan="2">Reminder</th>
                        </tr>
                        <tr>
                            <th>Meals</th>
                            <th>Others</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2"><a href="https://www.hoteljen.com/manila/roxasboulevard/about/" target="_blank">Hotel Jen (Deluxe Room)</a></td>
                            <td>
                                @System.Configuration.ConfigurationManager.AppSettings["hotelJenSingle"]
                                (Single)
                            </td>
                            <td rowspan="2">3001 Roxas Boulevard, Pasay City, Manila</td>
                            <td colspan="2" rowspan="4">Buffet Breakfast</td>
                            <td rowspan="4">Subject to Room Availability. Check-in time: 1400h / Check-out time: 1200h</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["hotelJenDouble"] (Double)</td>
                        </tr>
                        <tr>
                            <td rowspan="2"><a href="https://www.diamondhotel.com/" target="_blank">Diamond Hotel (Deluxe Room)</a></td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["diamondHotelSingle"] (Single)</td>
                            <td rowspan="2">Roxas Boulevard cor. Dr. J. Quintos Street, Manila</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["diamondHotelDouble"] (Double)</td>
                        </tr>
                    </tbody>
                </table>
                <p>Note: Billing will be at cost plus 1% handling fee.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success fade in" id="modal_success_accommodation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal_offSiteAccommodation_submit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_offSiteAccommodation_submit_yes" class="btn btn-outline pull-right" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/offsiteaccommodation")
}


