


<div class="box box-solid">
    <div id="transportation" class="box-body">
        <button type="button" id="transportation_rates_btn" class="btn btn-primary pull-right" style="margin-right: 15px;">Rates</button>
        <br />
        <div class="col-md-12 col-lg-6 form-group" id="crew_picture" style="text-align:center;">
            <img style="display: inline-block" class="img img-responsive" src="~/Content/images/default.jpg" />
        </div>

        <div class="col-lg-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="transportation_mnno" class="control-label">Trainee No.</label>
                <div class="input-group">
                    <input id="mnno_input" placeholder="Click the magnifying glass to search crew" type="text" class="form-control" disabled />
                    <span id="crew_search_btn" class="input-group-btn">
                        <button type="button" name="search" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="transportation_rank" class="control-label">Rank</label>
                <input id="rank_input" type="text" class="form-control" disabled />
            </div>
        </div>
        <div class="col-lg-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12 col-md-12 col-lg-">
                <label for="transportation_name" class="control-label">Name</label>
                <input id="name_input" type="text" class="form-control" disabled />
            </div>
        </div>

        <div class="col-lg-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="transportation_type" class="control-label">Type</label>
                <select id="transportation_type" class="form-control">
                    @for (var i = 0; i < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["typeOfArrangementLength"]); i++)
                    {
                        <option value="@System.Configuration.ConfigurationManager.AppSettings["arrangement" + (i + 1)]">
                            @System.Configuration.ConfigurationManager.AppSettings["arrangement" + (i + 1)]
                        </option>
                    }
                </select>
            </div>
        </div>

        <div class="col-lg-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="transportation_name" class="control-label">Vehicle</label>
                <select id="transportation_vehicle" class="form-control">
                    @for (var i = 0; i < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["numberOfVehicles"]); i++)
                    {
                        <option value="@System.Configuration.ConfigurationManager.AppSettings["vehicle" + (i + 1)]">
                            @System.Configuration.ConfigurationManager.AppSettings["vehicle" + (i + 1)]
                        </option>
                    }
                </select>
            </div>
        </div>


        @*<div class="col-lg-12 form-group">
                <label for="transportation_destination" class="col-md-2 control-label">Destination</label>
                <div class="col-xs-12 col-md-12 col-lg-10">
                    <select id="transportation_destination" class="form-control">
                        @for (var i = 0; i < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["numberOfDestinations"]); i++)
                        {
                            <option value="@System.Configuration.ConfigurationManager.AppSettings["destination" + (i + 1)]">
                                @System.Configuration.ConfigurationManager.AppSettings["destination" + (i + 1)]
                            </option>
                        }
                    </select>

                </div>
            </div>*@

        @*<div class="col-lg-12 form-group">
                <label for="transportation_destination" class="col-md-2 control-label">Daily Transfer</label>
                <div class="col-xs-12 col-md-12 col-lg-10">
                    <select id="transportation_destination" class="form-control">
                        <option value="1">One Trip</option>
                        <option value="2">Two Trips</option>
                    </select>
                </div>
            </div>*@

        <div class="daily_transfer col-xs-12 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="transportation_destination" class="control-label">Daily Transfer</label>
            </div>
            <div class="col-xs-12">
                <label class="radio-inline"><input type="radio" name="dt_optradio" id="dt_optradio_1" value="1" checked>One-way</label>
            </div>
            <div class="col-xs-12">
                <label class="radio-inline"><input type="radio" name="dt_optradio" id="dt_optradio_2" value="2">Round-trip</label>
            </div>

        </div>
        @*<div class="col-md-12 col-lg-12 form-group">
                <label for="transportation_details" class="col-md-2 control-label">Details</label>
                <div class="col-xs-12 col-md-12 col-lg-10">
                    <input id="transportation_details_input" type="text" class="form-control" style="border-radius: 3px;" placeholder="Pick Up and Drop Off Point" />
                </div>
            </div>*@

        <div class="airport_transfer col-xs-12 col-lg-12 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="transportation_destination" class="control-label">Airport Transfer</label>
                <div class="col-xs-12 checkbox">
                    <label class="col-xs-6">
                        <input id="airport_cb_i" value="1" type="checkbox" checked>
                        Inbound
                    </label>
                </div>
                <div class="col-xs-12 checkbox">
                    <label class="col-xs-6">
                        <input id="airport_cb_o" value="2" type="checkbox">
                        Outbound
                    </label>
                </div>
            </div>
        </div>


        <div class="col-lg-6 form-group pull-left" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-6" id="inbound_date">
                <label for="transportation_date_inbound" class="control-label">Inbound Date</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="transportation_date" autocomplete="off">
                </div>

            </div>
            <div class="col-xs-6" id="outbound_date">
                <label for="transportation_date_outbound" class="control-label">Outbound Date</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="transportation_date_outbound" autocomplete="off" disabled>
                </div>

            </div>

        </div>

        @*<div class="col-xs-12" style="padding: 0;">*@
        <div class="airport_transfer col-xs-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="InputFile" class="control-label">Attach Flight Details<span class="mandatory">*</span></label>
                <div class="col-xs-12 form-control">
                    <input type="file" id="InputFile">
                    @*<p class="help-block col-sm-12 control-label pull-left">Please insert a picture if there's any</p>*@
                </div>
            </div>
            <input type="text" id="output" hidden>
        </div>
        @*</div>*@
        <div class="col-xs-12 col-lg-6 form-group one_trip_details" style="padding-left: 0px; padding-right: 0px;">
            <label for="transportation_name" class="col-md-12 control-label">First Pick-up/Drop-off point<span class="mandatory">*</span></label>
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <label for="from" class="col-md-12 control-label" style="padding:0; font-size: smaller">From<span class="mandatory">*</span></label>
                <input id="pickup_input" type="text" class="form-group form-control" style="border-radius: 3px;" />
                <label for="to" class="col-md-12 control-label" style="padding:0; font-size: smaller">To<span class="mandatory">*</span></label>
                <input id="dropoff_input" type="text" class="form-group form-control" style="border-radius: 3px;" />
                <label for="area_dropdown" class="col-md-12 control-label" style="padding:0; font-size: smaller">Area of destination<span class="mandatory">*</span></label>
                <select id="area_dropdown" class="col-md-12 form-control form-group">
                    <option value=""></option>
                    <option value="Makati">Makita</option>
                    <option value="Manila">Manila</option>
                    <option value="Pasay">Pasay</option>
                </select>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="pick_up_date" placeholder="Choose date">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="pick_up_time" placeholder="Choose time">
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-6 form-group two_trip_details" style="padding-left: 0px; padding-right: 0px;">
            <label for="transportation_name" class="col-md-12 control-label">Second Pick-up/Drop-off point<span class="mandatory">*</span></label>

            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <label for="from" class="col-md-12 control-label" style="padding:0; font-size: smaller">From<span class="mandatory">*</span></label>
                <input id="2ndpickup_input" type="text" class="form-group form-control" style="border-radius: 3px;" disabled />
                <label for="to" class="col-md-12 control-label" style="padding:0; font-size: smaller">To<span class="mandatory">*</span></label>
                <input id="2nddropoff_input" type="text" class="form-group form-control" style="border-radius: 3px;" disabled />
                @*<label for="2ndarea_dropdown" class="col-md-12 control-label" style="padding:0; font-size: smaller">Area of destination<span class="mandatory">*</span></label>
                <select id="2ndarea_dropdown" class="col-md-12 form-control form-group">
                    <option value=""></option>
                    <option value="Makati">Makita</option>
                    <option value="Manila">Manila</option>
                    <option value="Pasay">Pasay</option>
                </select>*@
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="pick_up_date_2" placeholder="Choose date" disabled>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="pick_up_time_2" placeholder="Choose time">
                </div>
            </div>
        </div>

        <div id="daily_transfer_table" style="display: none">
            <div class="col-xs-12">
                <button class="btn btn-default" id="add_daily_transfer">Add to table</button>
            </div>
            <div class="box-body col-xs-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Type</th>
                            <th>Pick-up</th>
                            <th>Drop-off</th>
                            <th>Date and Time</th>
                            <th>2nd Pick-up</th>
                            <th>2nd Drop-off</th>
                            <th>Date and Time</th>
                            <th>Action</th>
                        </tr>
                    </tbody>
                </table>
                <hr />
            </div>
        </div>
        <div class="col-xs-12 form-group" style="display:inline-block; padding-left: 0px; padding-right: 0px;">
            <label for="transportation_details" class="col-md-2 control-label">Remarks</label>
            <textarea class="form-control" rows="5" id="transportation_details"></textarea>
        </div>

        <div class="col-md-12 col-lg-12 form-group">
            <button type="button" id="save_transportation_btn" class="btn btn-default pull-right">Submit</button>
            <button type="button" id="transportation_clear_btn" class="btn btn-default pull-right">Clear</button>
        </div>

        <div id="transportationHistory_tbl_div" hidden>
            <table id="transportationHistory_tbl" class="table table-bordered table-striped table-hover col-sm-12">
                <thead>
                    <tr>
                        <td colspan="9" style="font-size: large">Transportation Arrangement History</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">Reference ID</td>
                        <td style="font-weight: bold">Type</td>
                        <td style="font-weight: bold">Vehicle</td>
                        <td style="font-weight: bold">Notes</td>
                        <td style="font-weight: bold">Date Booked</td>
                        <td style="font-weight: bold">Status</td>
                        <td style="font-weight: bold">Action</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="transportation_rates_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Transportation Rates</h4>
            </div>
            <div class="modal-body">
                <table id="transportation_rates_tbl" class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="3">Vehicle Type</th>
                            <th colspan="3">Destination</th>
                        </tr>
                        <tr>
                            <th colspan="2">Daily Transfer</th>
                            <th>Airport Transfer</th>
                        </tr>
                        <tr>
                            <th>@System.Configuration.ConfigurationManager.AppSettings["destination1"]</th>
                            <th>@System.Configuration.ConfigurationManager.AppSettings["destination2"]</th>
                            <th>@System.Configuration.ConfigurationManager.AppSettings["destination3"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vehicle1"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["carRate1"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["carRate2"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["carRate3"]</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vehicle2"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["miniVanRate1"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["miniVanRate2"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["miniVanRate3"]</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vehicle3"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vanRate1"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vanRate2"]</td>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vanRate3"]</td>
                        </tr>
                        <tr>
                            <td>@System.Configuration.ConfigurationManager.AppSettings["vehicle4"]</td>
                            <td colspan="3">@System.Configuration.ConfigurationManager.AppSettings["coasterBusRate"]</td>
                        </tr>
                    </tbody>
                </table>
                <span>Note: Prices are in U.S. dollars</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-default btn pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success fade" id="modal_success">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_close_btn" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal modal-warning fade in" id="modal-warning">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Warning!</h4>
                </div>
                <div class="modal-body">
                    <p>Please make sure that the data you enter in the fields are correct then try again, or you may contact Sales and Marketing for support.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@<div class="modal modal-warning fade in" id="modal-warning">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal_warning_transpo_submit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_warning_transpo_submit_yes" class="btn btn-outline pull-right" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal_success_transpo_submit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal_daily_transportation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <table class="table table-bordered" style="table-layout: fixed; word-break:break-word">
                        <thead>
                            <tr>
                                <th style="width: 10%">Type</th>
                                <th style="width: 17.5%">Pick-up</th>
                                <th style="width: 17.5%">Drop-off</th>
                                <th style="width: 10%">Date and Time</th>
                                <th style="width: 17.5%">2nd Pick-up</th>
                                <th style="width: 17.5%">2nd Drop-off</th>
                                <th style="width: 10%">Date and Time</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="col-lg-12 form-group" id="notes_div">
                        <label>Remarks: </label>
                        <textarea class="form-control" rows="5" id="notes" disabled></textarea>
                    </div>
                </div>
                &nbsp;
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default pull-right" id="transportation_confirm_btn" data-dismiss="modal">Complete</button>*@
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_airport_transportation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    @*<div class="col-lg-12 form-group" id="inbound_div">
                            <label>Inbound: </label>
                            <span id="inbound"></span>
                        </div>*@
                    <div class="col-lg-12 form-group" id="inboundDate_div">
                        <label class="col-xs-2" style="padding:0;">Inbound Date</label>
                        <span class="col-xs-1" style="font-weight: bold">:</span>
                        <span class="col-xs-3" id="inboundDate" style="padding:0;"></span>
                    </div>
                    @*<div class="col-lg-12 form-group" id="Outbound_div">
                            <label>Outbound: </label>
                            <span id="outbound"></span>
                        </div>*@
                    <div class="col-lg-12 form-group" id="OutboundDate_div">
                        <label class="col-xs-2" style="padding:0;">Outbound Date</label>
                        <span class="col-xs-1" style="font-weight: bold">:</span>
                        <span class="col-xs-3" id="outboundDate" style="padding:0;"></span>
                    </div>
                    <div class="col-lg-12 form-group" id="label_attachment_div">
                        <label>Attachment: </label>
                    </div>
                    <div class="col-lg-12 form-group" id="attachment_div" style="text-align:center">
                        <span style="display: inline-block;" id="attachment"></span>
                        @*<span style="display: block;" id="attachment"></span>*@

                    </div>
                    <div class="col-lg-12 form-group" id="notes_div">
                        <label>Remarks: </label>
                        <textarea class="form-control" rows="5" id="notes" disabled></textarea>
                    </div>
                </div>
                &nbsp;
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default pull-right" id="transportation_confirm_btn" data-dismiss="modal">Complete</button>*@
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_airport_transfer_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Edit Daily Transfer Request</h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">

                    <div class="col-lg-12 form-group" id="inboundDate_div">
                        <label class="col-xs-2" style="padding:0;">Inbound Date</label>
                        <span class="col-xs-1" style="font-weight: bold">:</span>
                        <span class="col-xs-3" style="padding:0;"><input type="text" id="e_inboundDate" class="form-control" autocomplete="off"/></span>

                    </div>

                    <div class="col-lg-12 form-group" id="OutboundDate_div">
                        <label class="col-xs-2" style="padding:0;">Outbound Date</label>
                        <span class="col-xs-1" style="font-weight: bold">:</span>
                        <span class="col-xs-3" style="padding:0;"><input type="text" id="e_outboundDate" class="form-control" autocomplete="off"/></span>
                    </div>
                    <div class="col-lg-12 form-group" id="label_attachment_div">
                        <label>Flight Details: </label>
                    </div>
                    <div class="col-lg-12 form-group" id="attachment_div" style="text-align:center">
                        <span style="display: inline-block;" id="e_attachment"></span>
                    </div>

                    <div class="col-xs-6 form-group" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-xs-12">
                            <label for="InputFile" class="control-label">New Attachment</label>
                            <div class="col-xs-12 form-control">
                                <input type="file" id="e_flight_details_inputFile">

                            </div>
                        </div>
                        <input type="text" id="e_flight_details_output" hidden="">
                    </div>

                    <div class="col-lg-12 form-group" id="notes_div">
                        <label>Remarks: </label>
                        <textarea class="form-control" rows="5" id="e_notes"></textarea>
                    </div>
                </div>
                &nbsp;
            </div>
            <div class="modal-footer">
                <button type="button" id="e_save_transportation_btn" class="btn btn-default pull-right">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_daily_transfer_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Edit Daily Transfer Request</h4>
            </div>
            <div class="modal-body">

                <div class="box box-solid">
                    <div id="e_transportation" class="box-body">
                        <div class="col-xs-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                            <div class="col-xs-12">
                                <label for="e_transportation_name" class="control-label">Vehicle</label>
                                <select id="e_transportation_vehicle" class="form-control">
                                    @for (var i = 0; i < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["numberOfVehicles"]); i++)
                                    {
                                        <option value="@System.Configuration.ConfigurationManager.AppSettings["vehicle" + (i + 1)]">
                                            @System.Configuration.ConfigurationManager.AppSettings["vehicle" + (i + 1)]
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="e_daily_transfer col-xs-12 form-group" style="padding-left: 0px; padding-right: 0px;">
                            <div class="col-xs-12">
                                <label for="e_transportation_destination" class="control-label">Daily Transfer</label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radio-inline"><input type="radio" name="e_dt_optradio" id="e_dt_optradio_1" value="1" checked>One-way</label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radio-inline"><input type="radio" name="e_dt_optradio" id="e_dt_optradio_2" value="2">Round-trip</label>
                            </div>

                        </div>
                        <div class="col-xs-12 form-group e_one_trip_details" style="padding-left: 0px; padding-right: 0px;">
                            <label for="e_transportation_name" class="col-md-12 control-label">First Pick-up/Drop-off point<span class="mandatory">*</span></label>
                            <div class="col-xs-12 col-md-12 col-lg-12 ">
                                <label for="from" class="col-md-12 control-label" style="padding:0; font-size: smaller">From<span class="mandatory">*</span></label>
                                <input id="e_pickup_input" type="text" class="form-group form-control" style="border-radius: 3px;" />
                                <label for="to" class="col-md-12 control-label" style="padding:0; font-size: smaller">To<span class="mandatory">*</span></label>
                                <input id="e_dropoff_input" type="text" class="form-group form-control" style="border-radius: 3px;" />
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="e_pick_up_date" placeholder="Choose date">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="e_pick_up_time" placeholder="Choose time">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group e_two_trip_details" style="padding-left: 0px; padding-right: 0px; display: none">
                            <label for="e_transportation_name" class="col-md-12 control-label">Second Pick-up/Drop-off point<span class="mandatory">*</span></label>

                            <div class="col-xs-12 col-md-12 col-lg-12 ">
                                <label for="from" class="col-md-12 control-label" style="padding:0; font-size: smaller">From<span class="mandatory">*</span></label>
                                <input id="e_2ndpickup_input" type="text" class="form-group form-control" style="border-radius: 3px;" disabled />
                                <label for="to" class="col-md-12 control-label" style="padding:0; font-size: smaller">To<span class="mandatory">*</span></label>
                                <input id="e_2nddropoff_input" type="text" class="form-group form-control" style="border-radius: 3px;" disabled />
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="e_pick_up_date_2" placeholder="Choose date" disabled>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="e_pick_up_time_2" placeholder="Choose time">
                                </div>
                            </div>
                        </div>
                        <div id="e_daily_transfer_table">
                            <div class="col-xs-12">
                                <button class="btn btn-default" id="add_daily_transfer">Add to table</button>
                            </div>
                            <div class="box-body col-xs-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Pick-up</th>
                                            <th>Drop-off</th>
                                            <th>Date and Time</th>
                                            <th>2nd Pick-up</th>
                                            <th>2nd Drop-off</th>
                                            <th>Date and Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <hr />
                            </div>
                        </div>
                        <div class="col-xs-12 form-group" style="display:inline-block; padding-left: 0px; padding-right: 0px;">
                            <label for="transportation_details" class="col-md-2 control-label">Remarks</label>
                            <textarea class="form-control" rows="5" id="e_transportation_details"></textarea>
                        </div>

                        <div class="col-md-12 col-lg-12 form-group">
                            <button type="button" id="e_save_transportation_btn" class="btn btn-default pull-right">Submit</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/transportation")
}


