@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

@*<div class="pad margin no-print">
    <div class="callout callout-info" style="margin-bottom: 0!important;">
        <h3><i class="fa fa-phone-square"></i> &nbsp;Reach out to us</h3>
    </div>
</div>
<div class="invoice">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <a href="https://www.google.com/maps?ll=14.570136,120.993279&z=13&t=m&hl=en-US&gl=PH&mapclient=embed&cid=5482884570059835091" target="_blank">
                    <img class="img-responsive" style="display: block; margin-left: auto; margin-right:auto;" src="http://umtc.com.ph/wp-content/uploads/2015/05/umtc-map.png" />
                </a>
                <div class="box-body no-border">
                    <strong>LANDMARK</strong><br />
                    <span>Philippine National Bank (PNB) - Leon Guinto Branch</span>
                </div>
                <div class="box-body no-border">
                    <strong>Directions</strong><br />
                    <span>From LRT Quirino Station along Taft Avenue, proceed to San Andres Street. Upon reaching Leon Guinto Street, turn right and proceed until you reach the Philippine National Bank (PNB). Entrance to UMTC is by the gate to the left of PNB.</span>
                </div>
                <br />
            </div>
            <div class="col-md-4">
                <div class="box-header no-border">
                    <strong>United Marine Training Center, Inc.</strong><br />
                    <span>2120 Leon GUinto Street Malate,</span><br />
                    <span>1004 Malate, Manila, Philippines</span>
                </div>
                <div class="box-body no-border">
                    <span>T: &nbsp; +63 2 981 6682</span><br />
                    <span>F: &nbsp; +63 2 981 6601</span><br />
                    <span>E: <img src="http://umtc.com.ph/wp-content/uploads/2015/05/UMTC-email.png" /></span>
                </div>
                <br />
                <div class="box-header no-border">
                    <strong>Sales and Marketing</strong><br />
                </div>
                <div class="box-body no-border">
                    <span>T: &nbsp; 632 981 6682 loc. 2128</span><br />
                    <span>DL: &nbsp; 	+63 2 981 6644 ,+63 2 981 6631</span><br />
                    <span>DL: &nbsp; 	+63 2 981 6633</span><br />
                    <span>E: <img src="http://umtc.com.ph/wp-content/uploads/2018/04/mail_m.png" /></span>
                </div>
                <br />
                <div class="box-header no-border">
                    <strong>Engr. Donald B. Bautista</strong><br />
                </div>
                <div class="box-body no-border">
                    <span>T: &nbsp; 	+63 2 981 6682 local 2199</span><br />
                    <span>E: <img src="http://umtc.com.ph/wp-content/uploads/2018/04/mail_d.png" /></span>
                </div>
                <br />
                <div class="box-header no-border">
                    <strong>Human Resource</strong><br />
                </div>
                <div class="box-body no-border">
                    <span>T: &nbsp;+63 2 567 2070 local 1611, 1613</span><br />
                </div>
                <br />
                <div class="box-header no-border">
                    <strong>Accounting</strong><br />
                </div>
                <div class="box-body no-border">
                    <span>T: &nbsp;	+63 2 567 2070 local 1504, 1528</span><br />
                </div>
                <br />
                <div class="box-header no-border">
                    <strong>Purchasing</strong><br />
                </div>
                <div class="box-body no-border">
                    <span>T: &nbsp;	+63 2 567 2070 local 1649, 1645</span><br />
                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="box-header">
                <h4 class="page-header">Send us a message</h4>
            </div>
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.Label("Email")
                        @Html.TextBox("CustomerName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Comment")
                        @Html.TextArea("CustomerComment", new { @class = "textarea", rows = "10", style = "width:50%;background-color:#f8f8f8" })
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>*@
