@{Layout = null; }

@model SAMPortal.Models.RegisterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>UMTC Portal | Register</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    <!-- Icon -->
    <link rel="shortcut icon" type="image/ico" href="~/Content/images/umtc_logo_icon.ico" />
    <link rel="icon" type="image/x-icon" href="~/Content/images/umtc_logo_icon.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
    @Html.Partial("_Background")
    <div class="register-box">
        <div class="register-box-body">
            <div style="text-align: center">
                <img style="width:240px" src="@Url.Content("~/Content/images/umtc_logo_with_white_bg.png")" />
            </div>
            <hr />
            <p class="login-box-msg">The link you are trying to access is expired. Please contact the Sales And Marketing Team for a new one.</p>
        </div>
    </div>

    <div class="fadein">
        <div class="bg1" style="background-image: url('../../../Content/images/05.jpg')"></div>
        <div class="bg2" style="background-image: url('../../../Content/images/02.jpg'); display: none"></div>
        <div class="bg3" style="background-image: url('../../../Content/images/03.jpg'); display: none"></div>
        <div class="bg4" style="background-image: url('../../../Content/images/04.jpg'); display: none"></div>
        <div class="bg5" style="background-image: url('../../../Content/images/01.jpg'); display: none"></div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
</body>
</html>

